@using proyecto_core.Models.ContentViewModels
@using proyecto_core.Consts

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@model proyecto_core.Models.ContentViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Contenido</h2>

<div asp-validation-summary="All" class="text-danger"></div>

@if (@Model != null)
{
    <table class="table">
        <caption>Lista de peliculas y series.</caption>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Visitas</th>
                <th>Descargas</th>
                <th>Fecha de subida</th>
                @if(@Model.IsAdmin){
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationContent ac in @Model.ApplicationContentList)
            {
                var totalDownload = @ac.Downloads + @ac.DemoDownloads;
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="Details/@ac.Id.ToString()">@ac.Title</a>
                    </td>
                    <td>@ac.Description</td>
                    <td>@ac.Views</td>
                    <td>@totalDownload</td>
                    <td>@ac.AddedDateTime</td>
                    @if (@Model.IsAdmin)
                    {
                        <td>
                            <a asp-controller="Home" asp-action="Edit/@ac.Id.ToString()" class="btn btn-warning">editar</a>
                            <a asp-controller="Home" asp-action="Delete/@ac.Id.ToString()" class="btn btn-danger">eliminar</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
<a asp-controller="Home" asp-action="Create" class="btn btn-success">añadir</a>