@using proyecto_core.Models.ContentViewModels
@model proyecto_core.Models.ContentViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Contenido</h2>

<div asp-validation-summary="All" class="text-danger"></div>

@if (@Model != null)
{
    <table class="table">
        <caption>Lista de peliculas y series.</caption>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Visitas</th>
                <th>Descargas</th>
                <th>Fecha de subida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationContent ac in @Model.ApplicationContentList)
            {
                var totalDownload = @ac.Downloads + @ac.DemoDownloads;
                <tr>
                    <td>
                        <a asp-controller="Content" asp-action="Details/@ac.Guid.ToString()">@ac.Title</a>
                    </td>
                    <td>@ac.Description</td>
                    <td>@ac.Views</td>
                    <td>@totalDownload</td>
                    <td>@ac.AddedDateTime</td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-controller="Content" asp-action="Create" class="btn btn-success">añadir</a>